{%extends "base.html" %}
{% load staticfiles %}

{% block content %}
		<header class="header no-border">
        	<div class="blue-bg">
            	<div class="white"></div>
        		<div class="container">
            	<div class="row">
                	<div class="logo col-md-3">
                        <a href="#">
                            <img src="images/logo.jpg" alt="Scoutsview Logo" />
                        </a>
                    </div>
                    <div class="col-md-9 navigation-wrap">
                	<nav class="primary-nav navbar navbar-default ">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle drop-down-icon ">Athlete <span class="block">Profiles</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> 
                                <a href="#" data-toggle="dropdown"  class="dropdown-toggle drop-down-icon">Athlete <span class="block">Resources</span></span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Coaches <span class="block">& Scouts</span></a>
                            </li>
                            <li>
                                <a href="#">Info For<span class="block">Parents</span></a>
                            </li>
                            <li>
                                <a href="#">Online <span class="block">Store</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
                	<div class="logged-in clearfix">
                    	<div class="user-pic fl">
                        	<img src="images/photos/user-pic_02.jpg">
                        </div>
                        <div class="user-details fl">
                        	<p>Athlete <a href="#">(Upgrade)</a></p>
                            <p>Profile <a href="#">(Unpublished)</a></p>
                            <p class="athlete-name">Tommy Trahan</p>
                        </div>
                        <div class="sec-dropdown">
                    	<ul class="fl">
                        	<li><a href="#">Dashboard</a></li>
                            <li><a href="#">My Accounts</a></li>
                            <li><a href="#">My Analytics</a></li>
                            <li><a href="#">Campus Tours</a></li>
                            <li><a href="#">Athlete FAQs</a></li>
                        </ul>
                        <ul class="fr">
                        	<li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">The Rules</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                    </div>
                    
                	</div>
                </div>
            </div>
            </div>
        </header>
        <div class="header-tab-container">
            <div class="container ">
                <div class="">
                    <div class="col-md-12" id="profile-manager-container">
                    	<div class="row">
                            <ul class="header-tab" id="profile-manager">
                                <li><a href="#">Athletic Profile <span class="block">Manager</span></a></li>
                                <li><a href="#">Media <span class="block">Manager</span></a></li>
                                <li><a href="#">My Forum <span class="block">Manager</span></a></li>
                                <li><a href="#">Fan <span class="block">Manager</span></a></li>
                                <li><a href="#">Academic Profile <span class="block">Manager</span></a></li>
                                <li><a href="#">My Stars <span class="block">Manager</span></a></li>
                                <li class="active"><a href="#">Social Networks <span class="block">Manager</span></a></li>
                                <li><a href="#">Scoutsview <span class="block">Video Blog</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-ticker-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-7 col-xs-12">
                        <div class="row"><span class="ticker-msg">This is a custom message ticker for user</span></div>
                    </div>
                    <div class="col-md-4  col-sm-5 col-xs-12 fr ticker-details">
                        <ul class="fr">
                            <li>
                                <img src="images/icons/friends.png" alt="friends" />
                                <span class="count block">0</span>
                            </li>
                            <li>
                                <img src="images/icons/fav.png" alt="friends" />
                                <span class="count block">0</span>
                            </li>
                            <li>
                                <img src="images/icons/fav.png" alt="friends" />
                                <span class="count block">0</span>
                            </li>
                            <li class="ticker-freinds">
                                <img src="images/icons/msg.png" alt="friends" />
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container academic-profile-container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Promote Your Social Profiles to Coaches and Fans</h2>
                    <div class="social-profile">
                    	<form class="coaches-fans">
                        <fieldset>
                        	<span><a href="#"><img src="images/twitter.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Twitter Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/myspace.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Myspace Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/rss.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your RSS Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/flickr.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Flickr Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/facebook.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Facebook Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/linkdin.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your LinkedIn Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/g-plus.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Google+ Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/wordpress.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Wordpress Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/youtube.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Youtube Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/vimeo.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Vimeo Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/printerest.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Pinterest Link">
                        </fieldset>
                        <fieldset>
                        	<span><a href="#"><img src="images/blogger.jpg" width="46" height="46" alt="img"></a></span><input type="text" placeholder="Your Blogger Link">
                        </fieldset>
                        <fieldset class="link-btn">
						<input type="button" value="Save" class="save"> <input type="button" value="Preview" class="prev"> <input type="button" value="Publish" class="publish">
                        </fieldset>
                        </form>
                    </div>
                    <!--social-profile end-->
                </div>
            </div>
            
        </div>

		
{% endblock %}