{%extends "base.html" %}
{% load staticfiles %}

{% block content %}
		<header class="header no-border">
        	<div class="blue-bg">
            	<div class="white"></div>
        		<div class="container">
            	<div class="row">
                	<div class="logo col-md-3">
                        <a href="#">
                            <img src="images/logo.jpg" alt="Scoutsview Logo" />
                        </a>
                    </div>
                    <div class="col-md-9 navigation-wrap">
                	<nav class="primary-nav navbar navbar-default ">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle drop-down-icon ">Athlete <span class="block">Profiles</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> 
                                <a href="#" data-toggle="dropdown"  class="dropdown-toggle drop-down-icon">Athlete <span class="block">Resources</span></span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Coaches <span class="block">& Scouts</span></a>
                            </li>
                            <li>
                                <a href="#">Info For<span class="block">Parents</span></a>
                            </li>
                            <li>
                                <a href="#">Online <span class="block">Store</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
                	<div class="logged-in clearfix">
                    	<div class="user-pic fl">
                        	<img src="images/photos/user-pic_02.jpg">
                        </div>
                        <div class="user-details fl">
                        	<p>Athlete <a href="#">(Upgrade)</a></p>
                            <p>Profile <a href="#">(Unpublished)</a></p>
                            <p class="athlete-name">Tommy Trahan</p>
                        </div>
                        <div class="sec-dropdown">
                    	<ul class="fl">
                        	<li><a href="#">Dashboard</a></li>
                            <li><a href="#">My Accounts</a></li>
                            <li><a href="#">My Analytics</a></li>
                            <li><a href="#">Campus Tours</a></li>
                            <li><a href="#">Athlete FAQs</a></li>
                        </ul>
                        <ul class="fr">
                        	<li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">The Rules</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                    </div>
                    
                	</div>
                </div>
            </div>
            </div>
        </header>
        
        <div class="inner-12-banner">
        	<div class="blank"></div>
        	<img src="images/inner-banner/interior_r1_02.jpg" class="img-responsive" alt="" />
            <div class="customize-banner">
            	<div class="custom">
                	<div>	
                        <div class="upload-container fr">
                            <span class="camera_icon fr"></span>
                            <div class="upload-dropdown">
                                <div class="triangle-up"></div>
                                <ul>
                                    <li><a href="#"><span class="album"></span>Choose From My Photos</a></li>
                                    <li><a href="#"><span class="upload"></span>Upload Photo</a></li>
                                    <li><a href="#"><span class="resposition"></span>Reposition</a></li>
                                    <li><a href="#"><span class="remove"></span>Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="custom-txt fr">Customize your Scoutsview with your own banner image</span>
                    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="user-ticker-container12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <span class="ticker-msg">About Scoutsview</span>
                    </div>
                    <div class="col-md-8  col-sm-12 col-xs-12 fr ticker-details">
                    	<div class="row">
                            <ul class="">
                                <li>
                                    <a href="#" class="active">What We Do </a>
                                </li>
                                <li>
                                    <a href="#">Meet The Team</a> 
                                </li>
                                <li>
                                    <a href="#">Why We're Different</a>
                                </li>
                                <li>
                                    <a href="#">Partner With Us </a>                                
                                </li>
                                <li>
                                    <a href="#">Pricing </a>                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container inner-12">
        	<div class="">
	            <h3>What We Do</h3>
            	<div class="col-md-8  left-col">
                	<div class="row">
 						<p>SCOUTSVIEW is an international social athletic connection website in which male and female athletes create their own promotional campaign to propel their athletic careers. Students create profiles that include their vital stats (position, height, weight, age, athletic and educational experience) and feature footage of their star-shining moments in competitions, scrimmages, practices and actual games. These highlights are then viewable by college and university scouts, sports agents, professional sports representatives, and fans. Plus, fans can vote for their favorite athletes, boosting exposure.</p>
                        <p>Presently, opportunities for athletic talent and leagues to connect are limited because of highly-monitored NCAA recruiting rules for communicating with prospects. Under the current system, many students mail recorded highlight footage and travel to universities and scouts travel to events to observe athletic ability first-hand, thus wasting resources (time and money). Likewise, because of a lack of resources, top-notch athletes miss opportunities to be seen. Additionally, NCAA rules prohibit engagement between athletes and scouts via social media like Facebook and Twitter, as such sites are not obligated to adhere to NCAA Rules for recruiting.</p>
                        <p>SCOUTSVIEW uses a social platform to level the playing field, giving ALL athletes equal and cost-efficient exposure, while adhering to NCAA rules. Scoutsview innovatively links scouts and students, colleges and high-school hopefuls, collegiate athletes and professional leagues, globally.</p>
                	</div>
                </div>
                
                <div class="col-md-4 right-col">
                	<div class="row">
                        <div class="ad mbl fr">
                        	<img src="images/ads/interior_r1_03.jpg">
                        </div>
                        <div class="ad fr">
                        	<img src="images/ads/interior_r1_06.jpg">
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <footer class="footer">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-8">
                    	<div class="col-xs-12 col-sm-4 col-md-4">
                        	<p class="title">ABOUT SCOUTSVIEW</p>
                            <ul>
                            	<li><a href="#">What We Do</a></li>
                                <li><a href="#">Meet The Team</a></li>
                                <li><a href="#">Why We're Different</a></li>
                                <li><a href="#">Partner With Us</a></li>
                                <li><a href="#">Pricing</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                        	<p class="title">GENERAL RESOURCES</p>
                            <ul>
                            	<li><a href="#">Campus Tours</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Parents</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Partners</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                        	<p class="title">MEDIA CENTER</p>
                            <ul>
                            	<li><a href="#">Press Room</a></li>
                                <li><a href="#">Video Library</a></li>
                                <li><a href="#">Photo Gallery</a></li>
                                <li><a href="#">Articles</a></li>
                                <li><a href="#">Investors</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 subscribe">
                    	<p>WANT TO RECEIVE OUR UPDATES?</p>
                        <form name="" action="" method="post">
                        	<input type="email" placeholder="Your Email">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <p>FOLLOW US</p>
                        <ul class="social-links">
                        	<li><a href="#"><img src="images/fb_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/googleplus_icon.jpg" alt="Google +" /></a></li>
                            <li><a href="#"><img src="images/insta_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/linkedin_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/pintrest_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/twitter_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/twitter1_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/youtube_icon.jpg" alt="Facebook" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
                    	<ul class="copyright-text">
                        	<li><span class="copyright">Copyright &copy; 2014 Scoutsview. All Rights Reserved.</span></li>
                            <li><a href="#"> Privacy Policy<span class="pipe">|</span></a></li>
                            <li><a href="#">Terms of Use</a><span class="pipe">|</span></li>
                            <li><a href="#">Rules & Regulations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
		
        <script type="text/javascript">
		$(document).ready(function(){
			$(".minus").parent().parent().parent().parent().click(function(){
				$(this).find(".toglable").slideToggle();
				console.log($(this).find(".minus").text())
				if($(this).find(".minus").text() == '-'){
					$(this).find(".minus").text('+');   
				} else {
					$(this).find(".minus").text('-');
				}
			
			});
			$('.login-wrapper').on('click',function(){
				$('.social-media-login').toggle();
			})
			var flag = true;
			function uploader(){
				if(flag= true){
					$(".upload-dropdown").show();
				}
				flag= false;
				$( ".upload-dropdown" ).hover(
				  function() {
					  $(".upload-dropdown").show();
				  },function(){
					  flag= false;
						$( ".upload-dropdown" ).hide();
					}
				);
			}
			
			$( ".upload-container" ).hover(
			  function() {
				$(".upload-dropdown").show();
			  }, function(){
				  if(flag)
			  	uploader();
			  }
			);
		
		})
		
		</script>
{% endblock %}