{%extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!--    <body class="coach-pg"> -->
		<header class="header no-border">
        	<div class="coach-bg ">
            	<div class="white"></div>
        		<div class="container">
            	<div class="row">
                	<div class="logo col-md-3">
                        <a href="#">
                            <img src="images/logo.jpg" alt="Scoutsview Logo" />
                        </a>
                    </div>
                    <div class="col-md-9 navigation-wrap">
                	<nav class="primary-nav navbar navbar-default ">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle drop-down-icon ">Athlete <span class="block">Profiles</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> 
                                <a href="#" data-toggle="dropdown"  class="dropdown-toggle drop-down-icon">Athlete <span class="block">Resources</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Coaches <span class="block">& Scouts</span></a>
                            </li>
                            <li>
                                <a href="#">Info For<span class="block">Parents</span></a>
                            </li>
                            <li>
                                <a href="#">Online <span class="block">Store</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
                	<div class="logged-in clearfix">
                    	<div class="user-pic fl">
                        	<img src="images/coach-images/coach_pg2a_02.png" alt="User pic">
                        </div>
                        <div class="user-details fl">
                        	<p>Coach</p>
                            <p>Profile <a href="#">(Unpublished)</a></p>
                            <p class="athlete-name">Nick Saban</p>
                        </div>
                        <div class="sec-dropdown">
                    	<ul class="fl">
                        	<li><a href="#">Dashboard</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Athlete FAQs</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                        <ul class="fr">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">The Rules</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>

                    </div>
                    </div>
                    
                	</div>
                </div>
            </div>
            </div>
        </header>
        <div class="user-ticker-container top-border">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="row"><span class="ticker-msg">Welcome to Scoutsview</span></div>
                        
                    </div>
                    <div class="col-md-4  col-sm-4 fr">
                        <ul>
                            
                            <li class="ticker-freinds">
                            	<span class="msg-count hide">1</span>
                                <img src="images/icons/msg.png" alt="friends" />
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container academic-profile-container">
        	<form method="post">
                <div class="row">
                    <div class="col-md-12">
                            <div class="athletic-profile">
                            <div class="about-you">
                                <div>
                                    <fieldset>
                                        <textarea placeholder="Add a short description about yourself (500 word limit)" class="form-control"></textarea>
                                    </fieldset>
                                </div>
                                
                            </div>
                            <div class="about-you">
                                <div>
                                    <fieldset>
                                        <textarea placeholder="Discuss your program. What are you looking for in an athlete? (500 word limit)" class="form-control"></textarea>
                                    </fieldset>
                                </div>
                                
                            </div>

                        </div>
                        <!--athletic-profile end-->
                    </div>
                </div>
                <div class="fill-out">
                    <a class="save-pro btn" href="#">Save Progress</a>
                    <a class="prev-this btn" href="#">Preview This</a>
                    <a  class="publish-page btn" href="#">Publish Page</a>
                    <em>*You must fill out the required steps before you can publish your profile</em>
                 </div>   
            </form>
        </div>      



{% endblock %}