<!DOCTYPE html>
<html><head>
		<title>Scoutsview</title>
        <!--[if lt IE 9]>
            <script src="js/html5.js"></script>
        <![endif]-->
        <!--favicon start-->
        	<link rel="shortcut icon" href="images/favicon.ico">
        <!--favicon end-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style2.css" />
        <link rel="stylesheet" href="css/responsive.css" />
	</head>
	<body>
		<header class="header home">
        	<div class="container">
            	<div class="row">
                	<div class="logo col-md-3">
                        <a href="#">
                            <img src="images/logo.jpg" alt="Scoutsview Logo" />
                        </a>
                    </div>
                    <div class="col-md-9 navigation-wrap">
                	<nav class="primary-nav navbar navbar-default ">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle drop-down-icon ">Athlete <span class="block">Profiles</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> 
                                <a href="#" data-toggle="dropdown"  class="dropdown-toggle drop-down-icon">Athlete <span class="block">Resources</span></span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Coaches <span class="block">& Scouts</span></a>
                            </li>
                            <li>
                                <a href="#">Info For<span class="block">Parents</span></a>
                            </li>
                            <li>
                                <a href="#">Online <span class="block">Store</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
                	<div class="login-wrapper ">
                    <div class="btn btn-primary" ><a href="#"><span class="lock_icon">Sign in</span></a></div>
                    <div class="social-media-login ">
                        <div class="triangle-up blue"></div>
                        <div class="fb-login mbm">
                            <a href="#"><img src="images/fb_btn.jpg" alt="Faceboook login" /></a>
                        </div>
                        <div class="fb-login">
                            <a href="#"><img src="images/Twitter_btn.jpg" alt="Faceboook login" /></a>
                        </div>
                    </div>
                </div>
                	</div>
                </div>
            </div>
        </header>
        <div class="inner-12-banner">
        	<img src="images/inner-banner/int_searchfilter_02.jpg" class="img-responsive" alt="" />
        </div>
        <div class="user-ticker-container12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <span class="ticker-msg">Leaderboard Stars</span>
                    </div>
                    <div class="col-md-8  col-sm-12 col-xs-12 fr ticker-details">
                    	<div class="row">
                            <ul class="">
                                <li>
                                    <a href="#">Middle School</a>
                                </li>
                                <li>
                                    <a href="#" class="active">High School</a> 
                                </li>
                                <li>
                                    <a href="#">College</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container search-page">
        	<div class="row">
            	<p class="search-text">Your search produced 720 results</p>
            	<div class="col-md-9  left-col">
                	<div class="ath row athlete-details">
                    	<div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 profile-pic">
                                    <div class="row">
                                        <img src="images/photos/int_searchfilter_03.jpg" alt="" class="img-responsive"/>
                                     </div>
                                </div>
                                <div class="col-md-9 profile-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2><a href="#">Tommy Trahan &raquo;</a></h2>
                                                <ul>
                                                    <li><span class="subtitle">Hometown:</span> Dallas, Texas</li>
                                                    <li><span class="subtitle">School:</span> Texas A&M</li>
                                                    <li><span class="subtitle">Sport:</span> Soccer</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2>
                                                    <span class="green-star"> = 60</span>
                                                    <span class="yellow-star"> = 130</span>
                                                 </h2>
                                                <ul>
                                                    <li><span class="subtitle">Position:</span> Forward</li>
                                                    <li><span class="subtitle">Grade Level:</span> Senior</li>
                                                    <li><span class="subtitle">Major:</span> Physics</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h3><a href="#">Quick Player Statistics<span class="minus fr">-</span></a></h3>
                                    </div>
                                </div>
                                <div class="col-md-4 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Height:</span> 6'1</li>
                                            <li><span class="subtitle">Weight:</span> 200 lbs.</li>
                                            <li><span class="subtitle">40 Yard Dash:</span> 6 seconds</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Bench:</span> 250 lbs</li>
                                            <li><span class="subtitle">Squat:</span> 600 lbs.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 toglable">
                                    <div class="row profile-link">
                                        <a href="#">View Player Profile &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="ath row athlete-details">
                    	<div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 profile-pic">
                                    <div class="row">
                                        <img src="images/photos/int_searchfilter_06.jpg" alt="" class="img-responsive"/>
                                     </div>
                                </div>
                                <div class="col-md-9 profile-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2><a href="#">Bryan Johnson &raquo;</a></h2>
                                                <ul>
                                                    <li><span class="subtitle">Hometown:</span> Carrollton, Texas</li>
                                                    <li><span class="subtitle">School:</span> Newman Smith</li>
                                                    <li><span class="subtitle">Sport:</span> Basketball</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2>
                                                    <span class="green-star"> = 80</span>
                                                    <span class="yellow-star"> = 130</span>
                                                 </h2>
                                                <ul>
                                                    <li><span class="subtitle">Position:</span> Forward</li>
                                                    <li><span class="subtitle">Grade Level:</span> Senior</li>
                                                    <li><span class="subtitle">Major:</span> Physics</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h3><a href="#">Quick Player Statistics<span class="minus fr">-</span></a></h3>
                                    </div>
                                </div>
                                <div class="col-md-4 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Height:</span> 6'1</li>
                                            <li><span class="subtitle">Weight:</span> 200 lbs.</li>
                                            <li><span class="subtitle">40 Yard Dash:</span> 6 seconds</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Bench:</span> 250 lbs</li>
                                            <li><span class="subtitle">Squat:</span> 600 lbs.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 toglable">
                                    <div class="row profile-link">
                                        <a href="#">View Player Profile &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="ath row athlete-details">
                    	<div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 profile-pic">
                                    <div class="row">
                                        <img src="images/photos/int_searchfilter_08.jpg" alt="" class="img-responsive"/>
                                     </div>
                                </div>
                                <div class="col-md-9 profile-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2><a href="#">Sam Grisly &raquo;</a></h2>
                                                <ul>
                                                    <li><span class="subtitle">Hometown:</span> Carrollton, Texas</li>
                                                    <li><span class="subtitle">School:</span> R.L. Turner</li>
                                                    <li><span class="subtitle">Sport:</span> Tennis</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2>
                                                    <span class="green-star"> = 60</span>
                                                    <span class="yellow-star"> = 200</span>
                                                 </h2>
                                                <ul>
                                                    <li><span class="subtitle">Position:</span> Right handed</li>
                                                    <li><span class="subtitle">Grade Level:</span> Junior</li>
                                                    <li><span class="subtitle">Major:</span> Biology</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h3><a href="#">Quick Player Statistics<span class="minus fr">-</span></a></h3>
                                    </div>
                                </div>
                                <div class="col-md-4 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Height:</span> 6'1</li>
                                            <li><span class="subtitle">Weight:</span> 200 lbs.</li>
                                            <li><span class="subtitle">40 Yard Dash:</span> 6 seconds</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Bench:</span> 250 lbs</li>
                                            <li><span class="subtitle">Squat:</span> 600 lbs.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 toglable">
                                    <div class="row profile-link">
                                        <a href="#">View Player Profile &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="ath row athlete-details">
                    	<div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 profile-pic">
                                    <div class="row">
                                        <img src="images/photos/int_searchfilter_10.jpg" alt="" class="img-responsive"/>
                                     </div>
                                </div>
                                <div class="col-md-9 profile-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2><a href="#">Debra Parker  &raquo;</a></h2>
                                                <ul>
                                                    <li><span class="subtitle">Hometown:</span> Carrollton, Texas</li>
                                                    <li><span class="subtitle">School:</span> Creekview High</li>
                                                    <li><span class="subtitle">Sport:</span> Soccer</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2>
                                                    <span class="green-star"> = 55</span>
                                                    <span class="yellow-star"> = 105</span>
                                                 </h2>
                                                <ul>
                                                    <li><span class="subtitle">Position:</span>  Defense</li>
                                                    <li><span class="subtitle">Grade Level:</span> Sophomore</li>
                                                    <li><span class="subtitle">Major:</span> English</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h3><a href="#">Quick Player Statistics<span class="minus fr">-</span></a></h3>
                                    </div>
                                </div>
                                <div class="col-md-4 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Height:</span> 6'1</li>
                                            <li><span class="subtitle">Weight:</span> 200 lbs.</li>
                                            <li><span class="subtitle">40 Yard Dash:</span> 6 seconds</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Bench:</span> 250 lbs</li>
                                            <li><span class="subtitle">Squat:</span> 600 lbs.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 toglable">
                                    <div class="row profile-link">
                                        <a href="#">View Player Profile &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="ath row athlete-details">
                    	<div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 profile-pic">
                                    <div class="row">
                                        <img src="images/photos/int_searchfilter_12.jpg" alt="" class="img-responsive"/>
                                     </div>
                                </div>
                                <div class="col-md-9 profile-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2><a href="#">Cole Hanson &raquo;</a></h2>
                                                <ul>
                                                    <li><span class="subtitle">Hometown:</span> Carrollton, Texas</li>
                                                    <li><span class="subtitle">School:</span> R.L. Turner</li>
                                                    <li><span class="subtitle">Sport:</span> Soccer</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <h2>
                                                    <span class="green-star"> = 40</span>
                                                    <span class="yellow-star"> = 130</span>
                                                 </h2>
                                                <ul>
                                                    <li><span class="subtitle">Position:</span> Goalie</li>
                                                    <li><span class="subtitle">Grade Level:</span> Junior</li>
                                                    <li><span class="subtitle">Major:</span> Biology</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h3><a href="#">Quick Player Statistics<span class="minus fr">-</span></a></h3>
                                    </div>
                                </div>
                                <div class="col-md-4 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Height:</span> 6'1</li>
                                            <li><span class="subtitle">Weight:</span> 200 lbs.</li>
                                            <li><span class="subtitle">40 Yard Dash:</span> 6 seconds</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 toglable">
                                    <div class="row">
                                        <ul>
                                            <li><span class="subtitle">Bench:</span> 250 lbs</li>
                                            <li><span class="subtitle">Squat:</span> 600 lbs.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 toglable">
                                    <div class="row profile-link">
                                        <a href="#">View Player Profile &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                
                <div class="col-md-3 right-col">
                        <div class="col-md-12 search-form">
                            <p class="title head">Search for Athletes</p>
                            <div class="form-container">
                            	<p class="mtl">Start searching for your favorite athletes! Enter information in one or more of the fields below and press the search button.</p>
                                <p class="title mtxxl">Athlete</p>
                                <fieldset class="mbm">
                                    <input type="text" placeholder="First Name" class="form-control">
                                </fieldset>
                                <fieldset class="mbl">
                                    <input type="text" placeholder="Last Name" class="form-control">
                                </fieldset>
                                <p class="title mtl">Gender</p>
                                <fieldset class="mbl">
                                	<div class="radiobtn clearfix">
                                    <input id="female" type="radio" class="radiobutton" name="sex">
                                        <label class="radiobutton-label icon-female" for="female">Female</label>
                                      <input id="male" type="radio" class="radiobutton" name="sex">
                                        <label class="radiobutton-label icon-male" for="male">Male</label>
                                      
                                    </div>
                                </fieldset>
                                <p class="title mtl">Hometown</p>
                                <fieldset class="mbm">
                                    <select id="state-select" >
                                        <option value="share with">State</option>
                                        <option value="share with">Option1</option>
                                        <option value="share with">Option2</option>
                                    </select>
                                </fieldset>
                                <fieldset class="mbl">
                                    <input type="text" placeholder="City" class="form-control">
                                </fieldset>
                                <p class="title mtl">School</p>
                                <fieldset class="mbm">
                                    <input type="text" placeholder="School Level" class="form-control">
                                </fieldset>
                                <fieldset class="mbl">
                                    <input type="text" placeholder="School Name" class="form-control">
                                </fieldset>
                                <p class="title mtl">Sport</p>
                                <fieldset class="mbm">
                                    <select id="sport-select" >
                                        <option value="share with">Sport</option>
                                        <option value="share with">Option1</option>
                                        <option value="share with">Option2</option>
                                    </select>
                                </fieldset>
                                <fieldset class="mbm">
                                    <input type="text" placeholder="Position" class="form-control">
                                </fieldset>
                                <fieldset class="link-btn center">
                                	<input type="button" value="Search" class="search"> 
                                </fieldset>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <footer class="footer">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-8">
                    	<div class="col-xs-12 col-sm-4 col-md-4">
                        	<p class="title">ABOUT SCOUTSVIEW</p>
                            <ul>
                            	<li><a href="#">What We Do</a></li>
                                <li><a href="#">Meet The Team</a></li>
                                <li><a href="#">Why We're Different</a></li>
                                <li><a href="#">Partner With Us</a></li>
                                <li><a href="#">Pricing</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                        	<p class="title">GENERAL RESOURCES</p>
                            <ul>
                            	<li><a href="#">Campus Tours</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Parents</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Partners</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                        	<p class="title">MEDIA CENTER</p>
                            <ul>
                            	<li><a href="#">Press Room</a></li>
                                <li><a href="#">Video Library</a></li>
                                <li><a href="#">Photo Gallery</a></li>
                                <li><a href="#">Articles</a></li>
                                <li><a href="#">Investors</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 subscribe">
                    	<p>WANT TO RECEIVE OUR UPDATES?</p>
                        <form name="" action="" method="post">
                        	<input type="email" placeholder="Your Email">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <p>FOLLOW US</p>
                        <ul class="social-links">
                        	<li><a href="#"><img src="images/fb_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/googleplus_icon.jpg" alt="Google +" /></a></li>
                            <li><a href="#"><img src="images/insta_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/linkedin_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/pintrest_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/twitter_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/twitter1_icon.jpg" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/youtube_icon.jpg" alt="Facebook" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
                    	<ul class="copyright-text">
                        	<li><span class="copyright">Copyright &copy; 2014 Scoutsview. All Rights Reserved.</span></li>
                            <li><a href="#"> Privacy Policy<span class="pipe">|</span></a></li>
                            <li><a href="#">Terms of Use</a><span class="pipe">|</span></li>
                            <li><a href="#">Rules & Regulations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
		<script src="js/jquery1.8.js"></script>
        <script type="text/javascript" src="js/jquery-ui.js"></script>

		<script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript">
		$(document).ready(function(){
			$('.login-wrapper').on('click',function(){
				$('.social-media-login').toggle();
			})
			var togle = $(".minus").parent().parent().parent().parent().parent();
			togle.click(function(e){
				e.preventDefault();
				$(this).find(".toglable").slideToggle();
				if($(this).find(".minus").text() == '-'){
					$(this).find(".minus").text('+');   
				} else {
					$(this).find(".minus").text('-');
				}
			
			});
			
		
		})
		
		</script>
	</body>
</html>