{%extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!--    <body class="coach-pg"> -->
		<header class="header no-border">
        	<div class="coach-bg ">
            	<div class="white"></div>
        		<div class="container">
            	<div class="row">
                	<div class="logo col-md-3">
                        <a href="#">
                            <img src="images/logo.jpg" alt="Scoutsview Logo" />
                        </a>
                    </div>
                    <div class="col-md-9 navigation-wrap">
                	<nav class="primary-nav navbar navbar-default ">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle drop-down-icon ">Athlete <span class="block">Profiles</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> 
                                <a href="#" data-toggle="dropdown"  class="dropdown-toggle drop-down-icon">Athlete <span class="block">Resources</span></a>
                                <ul role="menu" class="sec-nav dropdown-menu">
                                    <li><a href="#">Middle School</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Coaches <span class="block">& Scouts</span></a>
                            </li>
                            <li>
                                <a href="#">Info For<span class="block">Parents</span></a>
                            </li>
                            <li>
                                <a href="#">Online <span class="block">Store</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
                	<div class="logged-in clearfix">
                    	<div class="user-pic fl">
                        	<img src="images/coach-images/coach_pg2a_02.png" alt="User pic">
                        </div>
                        <div class="user-details fl">
                        	<p>Coach</p>
                            <p>Profile <a href="#">(Unpublished)</a></p>
                            <p class="athlete-name">Nick Saban</p>
                        </div>
                        <div class="sec-dropdown">
                    	<ul class="fl">
                        	<li><a href="#">Dashboard</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Athlete FAQs</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                        <ul class="fr">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">The Rules</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>


                    </div>
                    </div>
                    
                	</div>
                </div>
            </div>
            </div>
        </header>
       	<div class="header-tab-container">
            <div class="container ">
                <div class="">
                    <div class="col-md-12" id="profile-manager-container">
                    	<div class="row">
                            <ul class="header-tab" id="profile-manager">
                                <li><a href="#">Coach Profile <span class="block">Manager</span></a></li>
                                <li><a href="#">My Star <span class="block">Athletes</span></a></li>
                                <li><a href="#">My Forum <span class="block">Manager</span></a></li>
                                <li><a href="#">Coach Network <span class="block">Manager</span></a></li>
                                <li><a href="#">My Prototype <span class="block">Athlete Search</span></a></li>
                                <li><a href="#">Stats and <span class="block">Analytics</span></a></li>
                                <li class="active"><a href="#">Coach <span class="block">Resources</span></a></li>
                                <li><a href="#">Scoutsview <span class="block">Video Blog</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-ticker-container top-border">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <div class="row"><span class="ticker-msg">Welcome to Scoutsview</span></div>
                        
                    </div>
                    <div class="col-md-2  col-sm-2 fr">
                        <ul>
                            
                            <li class="ticker-freinds">
                            	<span class="msg-count">1</span>
                                <img src="images/coach-images/msg.png"  alt="friends" />
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container academic-profile-container coach-9">
            <div class="row">
                <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 ">
                       	<h3>NCAA Recruiting Rules </h3>
                        
                        <h4 class="mtl hilite">The Rules of Recruiting </h4>
                        <p>The following tips about the Division I recruiting process can be found on the NCAA's Web site, ncaa.org. When you start ninth-grade classes, you become a "prospective student-athlete." </p>
                        <p class="mtl">You become a "recruited prospective student-athlete" at a particular college if any coach or representative of the college's athletics interests (booster or repre-sentative) contacts you (or any member of your family) about enrolling and par-ticipating in athletics at that college. Activities by coaches or boosters that cause you to become a recruited prospective student-athlete are: </p>
                        <p class="mtl">Providing you with an official visit; Placing more than one telephone call to you or any other member of your family; or Visiting you or any other member of your family anywhere other than the college campus.</p>
                        <p class="mtl">No alumni, boosters or representatives of a college's athletics interests can be involved in your recruiting. You (or your family) may not receive any benefit, in-ducement or arrangement such as cash, clothing, cars, improper expenses, transportation, gifts or loans to encourage you to sign a National Letter of Intent or attend an NCAA college.  </p>
                        <p class="mtl">Letters from coaches, faculty members and students are not allowed until Sep-tember 1 at the beginning of your junior year of high school.</p>
                     	
                        <h4 class="mtl">Telephone Calls.</h4>
                        <p> Phone calls from faculty members and coaches are not permitted until July 1 after the completion of your junior year. After this, a college coach or faculty member may call you (or your parents/legal guardians) once a week. You (or your parents) may call a coach at your expense as often as you wish after your junior year. Coaches may also accept collect calls from you and may use a toll-free number to receive telephone calls from you on or after July 1 after com-pletion of your junior year.</p>
                        
                        <h4 class="mtl">Contacts.</h4>
                        <p> A college coach may contact you in person off the college campus no more than three times on or after July 1 of your junior year. Any face-to-face meeting be-tween a college coach and you or your parents, during which any of you say more than "hello" is a contact. Also, any face-to-face meeting that is prear-ranged or that occurs at your high school, competition or practice site is a con-tact, regardless of the conversation. Coaches may not contact you off the col-lege campus more than three times. A college coach may visit your high school (with the approval of your high school principal) only once a week during a con-tact period. </p>
                        
                        <h4 class="mtl">Evaluations.</h4>
                        <p> An evaluation is any off-campus activity used to assess your academic qualifica-tions or athletics ability, including a visit to your high school (during which no contact occurs) or watching you practice or compete at any site. Institutions have seven permissible recruiting opportunities (contacts and evaluations) during the academic year, and not more than three of the seven opportunities may be in-person, off-campus contacts. Once you sign a National Letter of Intent, you may be evaluated an unlimited number of times by the college with which you have signed. </p>
                     	
                        <h4 class="mtl">Official Visits.</h4>
                        <p>During your senior year, you can have one expense-paid (official) visit per col-lege. You may receive no more than five such visits. You cannot have an official visit unless you have provided the college your high school academic transcript and a score from a PSAT, an SAT, a PACT or an ACT taken on a national test date under national testing conditions.eneral. As part of the NCAA's Academic Pro-gress Rate, more than 11,500 student-athletes have returned to campuses to complete their degrees since 2005 after finishing their athletics eligibility. </p>
                     </div>
                    
                    <div class="col-md-3 col-xs-12">
                    	<div class="filter-discussions">
                        <h3>NCAA</h3>
                        <div class="Coach-discusions discusions">
                        <ul>
                        	<li><a href="#" class="active">NCAA Home &raquo;</a></li>
                            <li><a href="#">Div I Elig. Toolkit &raquo;</a></li>
                            <li><a href="#">Div I Recruitment Calendar &raquo;</a></li>
                            <li><a href="#">Div II Recruitment Calendar &raquo;</a></li>
                            <li><a href="#">Div III Recruitment Calendar &raquo;</a></li>
                            <li><a href="#">2013 - 2014 Calendar &raquo;</a></li>
                            <li><a href="#">NCAA Publications &raquo;</a></li>
                            <li><a href="#">CBSA &raquo;</a></li>
                        </ul>
<!--                        <a class="view-more" href="#">View More</a>-->
                        </div>
                        <div class="fan-discusions discusions">
                            <h3>Recruiting Guide</h3>
                            <ul>
                                <li><a href="#">Hopkins Guide &raquo;</a></li>
                                <li><a href="#">How to get recruited  &raquo;</a></li>
    
                            </ul>
                        </div>
                        <div class="fan-discusions discusions">
                            <h3>Scholarships FAQ</h3>
                            <ul>
                                <li><a href="#">NCSA Scholarship &raquo;</a></li>
    
                            </ul>
                        </div>
                        <div class="fan-discusions discusions">
                            <h3>College Scholarships (by sports)</h3>
                            <ul>
                                <li><a href="#">College Basketball &raquo;</a></li>
    							<li><a href="#">College Basetball &raquo;</a></li>
                                <li><a href="#">College Football &raquo;</a></li>
                                <li><a href="#">College Soccer &raquo;</a></li>
                                <li><a href="#">College Track and Field &raquo;</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>


{% endblock %}