{%extends "base.html" %}
{% load staticfiles %}

{% block content %}


<!-- <body style="margin:0; padding:0;"> -->
	<table width="730" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #1f4c73;">
      <tr>
        <td valign="top" align="center">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" align="center">
                
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td valign="top" align="center" height="17"></td>
                      </tr>
                      <tr>
                        <td valign="top" align="center" style="font-size:1px; line-height:1px;">
                        	<img src="images/message sytem/logo.jpg" width="249" height="54" alt="" style="border:0;"/>
                         </td>
                      </tr>
                      <tr>
                        <td valign="top" align="center" height="11"></td>
                      </tr>
                    </table>

                </td>
              </tr>
              <tr>
                <td valign="top" align="center" height="21" style="background: #0075a0;"></td>
              </tr>
              <tr>
                <td valign="top" align="center" height="44" style="background:#1e3d69;"></td>
              </tr>
              <tr>
                <td valign="top" align="center" height="49" style="background:#fff;"></td>
              </tr>
              <tr>
                <td valign="top" align="center">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td valign="top" align="center" width="40"></td>
                        <td>
                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                 <td valign="top" align="left" style="color: #1b406c;font-size: 24px;">Coach Smith has sent you a message</td>
                              </tr>
                              <tr>
                                <td valign="top" align="left" style="color: #b1b1b1 ;font-size: 20px;">Dores et quas rnolestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</td>
                              </tr>
                            </table>

                        </td>
                        <td valign="top" align="center" width="56"></td>
                      </tr>
                    </table>

                </td>
              </tr>
              <tr>
                <td valign="top" align="center" height="56"></td>
              </tr>
              <tr>
                <td valign="middle" align="center" height="58"><a href="#" style="font-size: 23px; text-decoration: none; color: #fff;background: #00769e;border-radius: 6px; padding-left:30px; padding-right: 30px;padding-top: 10px;padding-bottom: 10px; ">View Message</a></td>
              </tr>
              <tr>
                <td valign="top" align="center" height="100"></td>
              </tr>
       			<tr>
                	<td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" align="center" width="40"></td>
                                <td valign="middle" align="center">
                                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td valign="top" align="left" style="color: #707070; font-size: 16px;">We sent this email to you because you've <br/> subscribed to notifications to this email</td>
                                      </tr>
                                      <tr>
                                        <td valign="top" align="left" style="color: #00769e;font-size: 16px;">Opt out of emails in your Scoutsview settings </td>
                                      </tr>
                                    </table>

                                </td>
                                <td valign="top" align="center" width="64"></td>
                                <td valign="top" align="center" style="line-height:1;"><img src="images/message sytem/blue-seprator.png" width="2" height="59" alt=""/></td>
                                <td valign="top" align="center" width="64"></td>
                                <td valign="middle" align="center">
                                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td valign="top" align="left" style="color: #707070;font-size: 16px;">700 Lavaca Street, Ste.<br/>1400 Austin, Texas 78701</td>
                                      </tr>
                                      <tr>
                                        <td valign="top" align="left" style="color: #00769e;font-size: 16px;">info@scoutsviewsports.com</td>
                                      </tr>
                                    </table>
                                </td>
                                <td valign="top" align="center" width="33"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
              <tr>
              	<td valign="top" align="center" height="23"></td>
              </tr>
            </table>

        </td>
      </tr>
    </table>

{% endblock %}
